<div class="p-8 w-full min-h-svh max-w-md mx-auto">
    <h2 class="text-2xl font-semibold text-center mb-6">Create Account</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <!-- Email Field -->
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email<span
                    class="text-red-500">*</span></label>
            <input id="email" type="email" formControlName="email" placeholder="Enter your email"
                class="mt-1 w-full px-3 py-2 border rounded-lg focus:ring focus:ring-blue-300 outline-none" />
            @if (email?.invalid && email?.touched) {
            <p class="text-red-500 text-sm mt-1">
                {{ email?.hasError('required') ? 'Email is required' : 'Enter a valid email' }}
            </p>
            }
        </div>

        <!-- Password Field -->
        <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password<span
                    class="text-red-500">*</span></label>
            <input id="password" type="password" formControlName="password" placeholder="Enter your password"
                class="mt-1 w-full px-3 py-2 border rounded-lg focus:ring focus:ring-blue-300 outline-none" />
            @if (password?.invalid && password?.touched) {
            <p class="text-red-500 text-sm mt-1">
                {{ password?.hasError('required')
                ? 'Password is required'
                : invalidPasswordMessage }}
            </p>
            }
        </div>

        <div>
            <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password<span
                    class="text-red-500">*</span></label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword"
                placeholder="Enter your password again"
                class="mt-1 w-full px-3 py-2 border rounded-lg focus:ring focus:ring-blue-300 outline-none" />
            @if (confirmPassword?.invalid && confirmPassword?.touched) {
            <p class="text-red-500 text-sm mt-1">
                {{ confirmPassword?.hasError('required')
                ? 'Confirm Password is required'
                : invalidPasswordMessage }}
            </p>
            }
            @if (signupForm.hasError('mismatch') && signupForm.touched) {
            <p class="text-red-500 text-sm mt-1">
                Passwords do not match
            </p>
            }
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="signupForm.invalid"
            class="w-full cursor-pointer bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition duration-200">
            Sign Up
        </button>
    </form>
</div>