<div class="">
    <h1 class="text-4xl font-bold mb-8">Matches History</h1>

    <input type="text" placeholder="Search matches..." class="w-full p-2 border border-gray-300 rounded-md mb-4"
        (input)="onSearch($event)" />


    @if (loading) {
    <div id="card-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
        <app-match-card [loading]="true"></app-match-card>
        }
    </div>
    }
    @else {
    <div id="card-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        @for(match of filteredMatches; track $index) {
        <div>
            <app-match-card [match]="match"></app-match-card>
        </div>
        }
        @empty {
        <p>No matches found</p>
        }
    </div>
    }

</div>